.menu-wrapper {
    color: white;
}

.menus-box {
    display: grid;
    gap: 2vw;
    gap: 8vh;
}

@media screen and (min-width: 964px) {
    .menus-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2vw;
    }
}

.stews {
    border-bottom: orange solid 1px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-circle {
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    overflow: hidden;
}

.stew-image {
    height: 100%;
    margin-left: -20%;
}

.stew-item, .title-menu {
    color: white;
    text-align: center;
}

.title-menu {
    color: rgb(244, 157, 28);
    text-align: center;
}